@use './base/reset';
@use './abstracts/variables' as var;
@use './components/buttons';

body {
    font-family: var.$font-base;
    font-size: 16px;  
    background-image: url('../img/icon_artzie.svg'), linear-gradient(to right, var.$white-color 58%, var.$black-color 41%);    
    background-repeat: no-repeat;
    background-position: top 90% right .5%, top right;
    background-size: 12%, 100%;
    
    &::before {
        content: '';
        width: 41%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: 98%;
        background-size: 25%;
    }
}


// Frame para trabajar
.container {
    max-width: var.$max-width-page;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
}

// Sección header
.header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 30px 20px 20px 20px;
    gap: 140px;
    margin-bottom: 40px;
}

.navPrincipal ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 56px;
}

.navPrincipal ul li a {
    color: var.$black-color;
    text-decoration: none;

    &:hover {
        color: var.$red-color;
        text-decoration: underline;
    }
}

.login {
    margin-left: auto;
}

.login ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 56px;
}

.login ul li a {
    @include buttons.button();

    &.btn__sing-up {
        background-color: transparent;

        &:hover {
            color: var.$red-color;
        }
    }
}

// Sección hero
.hero {
    display: flex;

    .hero__contain {
        width: 60%;
    }

}


.hero__title {
    margin-bottom: 70px;
    padding-top: 50px;

    h1 {
        font-family: 'Belgrano', sans-serif;
        font-size: 64px;
        font-weight: 400;
        line-height: 9
        0px;
        margin-bottom: 12px;
        background-image: url('../img/icon_focus.svg'); // Esta es la imagen que border la palabra largest
        background-size: 31%;
        background-repeat: no-repeat;
        background-position: 22% 2%;
    }

    p {
        font-size: 20px;
        color: var.$light-gray-color;
        margin-bottom: 30px;
        position: relative;

        &::before {
            content: '';
            width: 71px;
            height: 2px;
            background-color: var.$red-color;
            position: absolute;
            bottom: 6px;
        }
    }

    .btn {
        a {
            @include buttons.button();
            display: inline-flex;
            align-items: center;
            margin-right: 32px;
            gap: 6px;
    
            &.btn__leanMore {
                padding: 0;
                color: var.$black-color;
                background-color: transparent;
            }
        }
    }
}


.collection {

    h3 {
        font-family: 'Belgrano', sans-serif;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    
    .image-container {
        display: flex;
        gap: 30px;   

        img {
            width: 44%;
            border: 1px solid var.$light-gray-color;
            padding: 4px;
        }
    }
    
}

.hero__numbers {
    max-width: 35%;
    margin-left: 30px;

    img{
        max-width: 95%;
        margin-left: 10px;
        padding: 16px;
    }

    .info {
        background-color: var.$white-color;
        padding: 24px;
        margin-bottom: 30px;
        margin-top: -24px;

        .info__artist {
            display: flex;
            justify-content: start;
            gap: 10px;
            width: 100%;
            margin-bottom: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid var.$light-gray-color;

            img {
                padding: 0;
                margin: 0;
                width: 15%;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                flex-direction: column;

                &:last-child {
                    margin-left: auto;
                }

                li:first-child {
                    color: var.$light-gray-color;
                    text-align: start;
                }

                li:last-child {
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .view-artist {
            
            a {
                @include buttons.button();

                &.bid-now {
                    padding: 10px 80px;
                }
    
                &.view-artwork {
                    color: var.$red-color;
                    background-color: transparent;
                    &:hover {
                        text-decoration: underline;
                    }
                    
                }

            }
        }

    }

    .numbers {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;

            h3 {
                font-size: 26px;
                font-weight: 600;
                color: var.$red-color;
            }

            p {
                color: var.$white-color;
            }
        }
    }

}